<section class="panel panel-padding">

	<article>
		<header>
			<h1>About</h1>
		</header>



		<div class="contenu">

				<p style="font-size:20pt; color:blue;">ABOUT</p>

			
			

             <font color="white">

			This App Will Help You To Get The Weather Update About Anyplace. Just Type And Hit The Enter Button On Your Keypad. All You Need Is The Data Connection </font>
             </br>
			<font color="black">
			It Can Give A Perfect Weather Forecast For The upcoming 7 Days</font>
             </br>
			<font color="blue">
			The  Wow Weather  Is launched By Starry IT</font>
			</br>
			<font color="blue">
			The  Wow Weather  Is Developed By MD.Sami</font>
			
			
		</div>

	</article>

</section>